body {
  overscroll-behavior: none;
  background: rgb(71, 71, 71);
  text-align: center;
}

#game{
  height: 100%;
}

@media only screen and (orientation: portrait) {
  #game{
    width: 100%;
  }
}



.gameOverPopup {
    position: fixed; 
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
}

.gameOverPopup-box {
    width: 100%;
    height: 100%;
    background-color: rgb(0, 0, 0);
    color: red;
    padding: 30px;
    border-radius: 8px;
    text-align: center;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.5); 
    border: 3px solid rgb(255, 255, 255);
}

.gameOverPopup-box button {
    margin-top: 20px;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    background-color: rgb(175, 0, 0);
    color: white;
    cursor: pointer;
    font-weight: bold;
    transition: background-color 0.2s;
}

.gameOverPopup-box button:hover {
    background-color: #14455c;
}
